@{
    ViewBag.Title = "Inicio";
}

<main class="px-5 pt-5">
    <h4>Proyecto 2 Programación Avanzada en Web 03101</h4>
    <h4>Nombre: Mauricio Calderón Garro</h4>
    <h4>Ced. 303980386</h4>
    <h4>Correo electrónico: mauricioantonicg@uned.cr</h4>
    <h4>Curso: Programación avanzada en web</h4>
    <h4>Profesor: Norberth Brunner Aguero</h4>
    <h4>Tercer Cuatrimestre del 2023</h4>
    <h4>Fecha entrega: 11-12-2023</h4>
</main>